EXCLUDE_QUERY_DIR
B %%OPAM%%/lib/base64
B %%OPAM%%/lib/bytes
B _build/default/.main.eobjs/byte
S %%OPAM%%/lib/base64
S %%OPAM%%/lib/bytes
S .
SUFFIX .aml .amli
SUFFIX .baml .bamli
FLG -w @1..3@5..28@30..39@43@46..47@49..57@61..62-40 -strict-sequence -strict-formats -short-paths -keep-locs
